SampleConsoleApplication/bin/Debug/BouncyCastle.Crypto.dll
SampleConsoleApplication/bin/Debug/Newtonsoft.Json.dll
SampleConsoleApplication/bin/Debug/SendSafelyConsoleApplication.exe
*.pdb
*.exe
SampleConsoleApplication/bin/Debug/SendSafelyConsoleApplication.vshost.exe.manifest
SendsafelyAPI/SendsafelyAPI/obj/Release/SendsafelyAPI.dll
SendsafelyAPI/SendsafelyAPI/obj/Release/SendSafelyAPI.csprojResolveAssemblyReference.cache
SendsafelyAPI/SendsafelyAPI/obj/Release/SendSafelyAPI.csproj.FileListAbsolute.txt
*.cache
SendsafelyAPI/SendsafelyAPI/bin/Debug/BouncyCastle.Crypto.dll
SendsafelyAPI/SendsafelyAPI/bin/Debug/Newtonsoft.Json.dll
SendsafelyAPI/SendsafelyAPI/bin/Debug/SendsafelyAPI.XML
SendsafelyAPI/SendsafelyAPI/bin/Debug/SendsafelyAPI.dll
SendsafelyAPI/SendsafelyAPI/obj/Debug/SendsafelyAPI.csproj.FileListAbsolute.txt
SendsafelyAPI/SendsafelyAPI/obj/Debug/SendsafelyAPI.dll
SampleConsoleApplication/bin/Debug/SendsafelyAPI.dll
SampleConsoleApplication/bin/Debug/SendsafelyAPI.xml
SampleConsoleApplication/obj/x86/Debug/SendSafelyConsoleApplication.csproj.FileListAbsolute.txt
*.orig
*.bak
*.tmp

SendsafelyAPI/obj/Debug/SendsafelyAPI.csproj.FileListAbsolute.txt

SendsafelyAPI/obj/Debug/SendsafelyAPI.csproj.CopyComplete

SendsafelyAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
